// Imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors Variables
$color-one: #333;
$color-two: #1D1147;
$color-three: #351C74;
$color-four: #79006D;
$color-five: #4DCA5B;

// Default Colors
$color-white: #fff;
$color-black: #000;

// Custom Font 
$font: 'Montserrat', sans-serif;